.MuiTypography-root.MuiTypography-body1.css-1rim10v-MuiTypography-root{
margin-left: 15.5px !important;
}
.MuiBox-root-2{
    padding-top: 2px !important;
    padding-left: 29px !important;
}
.MuiTypography-colorTextSecondary {
    color: #FFFFFF !important;
}
.MuiLinearProgress-root{
    height: 2.7px !important;
}
.MuiLinearProgress-colorPrimary{
    background-color: #FFFFFF !important;
}
.sousProgressBar{
    word-spacing: 0.06rem;
}